fieldset {
	display: inline-block;
	width: auto;
	padding: 4px 2px;
	border: 1px solid #a9b1b8;
	border-radius: 4px;
	background-image: repeating-linear-gradient(-45deg, rgba(0,0,0, 0.15)
		, rgba(0,0,0, 0.15) 1px, transparent 1px, transparent 6px);
	background-size: 8px 8px;
	vertical-align: top;
	min-width: 350px;
}
legend {
	font-size: 18pt;
	border: 1px solid #999;
	border-radius: 4px;
	margin: 2px auto;
	padding: 0px 15px;
}
article {
	display: flex;
	border-bottom: 1px solid #999;
	padding: 2px;
	font-size: 0.9em;
}
article span {
	display: inline-block;
	width: 100px;
	border: 1px solid #999;
	padding-left: 0px 2px;
	background-color: #00aeff11;
	font-weight: bold;
	text-align: center;
}
article span + span {
	margin-left: 4px;
}
