<fieldset>
	<legend>Alta de Cliente</legend>
	<label>
		<span>Nombre:</span>
		<input type="text" [(ngModel)]="cliente.nombre">
	</label>
	<label>
		<span>C.I.:</span>
		<input type="text" [(ngModel)]="cliente.ci">
	</label>
	<label>
		<span>Dirección:</span>
		<input type="text" [(ngModel)]="cliente.direccion">
	</label>
	<label>
		<span>Grupo:</span>
		<select [(ngModel)]="cliente.grupo">
			<option *ngFor="let grupo of grupos" value="{{grupo.id}}">{{grupo.nombre}}</option>
		</select>
	</label>
	<br>
	<button (click)="this.nuevoCliente()">Guardar</button>
</fieldset>
