div {
	padding: 4px 50px;
	border: 1px solid #a9b1b8;
	border-radius: 4px;
	background-image: repeating-linear-gradient(-45deg, rgba(0,0,0, 0.15)
		, rgba(0,0,0, 0.15) 1px, transparent 1px, transparent 6px);
	background-size: 8px 8px;
}

div + div {
	margin-top: 5px;
}

/* ngClass */
.mayus {
	text-transform: uppercase;
}

.minus {
	text-transform: lowercase;
}

.cap {
	text-transform: capitalize;
}

.uline {
	text-decoration: underline;
}

.oline {
	text-decoration: overline;
}

.tline {
	text-decoration: line-through;
}

.borde {
	border: 1px solid #65a2e0;
}

.fondo {
	background-color: #4ffa001a;
}

div.d-ngclass label + p {
	padding: 5px;
	margin-top: 0;
}

label + label {
	margin-left: 15px;
}

/* ngFor */
div.d-ngfor p {
	line-height: 1.25em;
}
div.d-ngfor p span {
	border-radius: 4px;
	padding: 0px 6px;
	text-shadow: 0px -1px 1px #fff, 1px 0px 1px #fff, 0px 1px 1px #fff, -1px 0px 1px #fff;
}

div.d-ngfor span.si {
	margin-left: 28px;
	border: 1px solid #47e047;
	background-color: #aeffaeb7;
}
div.d-ngfor span.no {
	/* margin-left: 0px; */
	border: 1px solid #db524d;
	background-color: #ffb1aeb7;
}
