<h3>ngClass</h3>
<div class="d-ngclass">
	<p [ngClass]="['mayus','uline']">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, id!</p>
</div>
<div class="d-ngclass">
	<label><input type="checkbox" [(ngModel)]="isMayus"> Mayúsculas</label>
	<label><input type="checkbox" [(ngModel)]="isUline"> Subrayado</label>
	<label><input type="checkbox" [(ngModel)]="isBorde"> Borde</label>
	<label><input type="checkbox" [(ngModel)]="isFondo"> Fondo</label>
	<p [ngClass]="{mayus:isMayus, uline:isUline, borde:isBorde, fondo:isFondo}">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, id!
	</p>
</div>

<h3>ngFor</h3>
<div class="d-ngfor">
	<ul>
		<li *ngFor="let pregunta of preguntas">{{ pregunta }}</li>
	</ul>
</div>
<div class="d-ngfor">
	<p *ngFor="let objPregunta of preguntasObj">
		{{ objPregunta.pregunta }}:
		<br>
		<span class="si">Si {{ objPregunta.si }}</span> /
		<span class="no">No {{ objPregunta.no }}</span>
	</p>
</div>
<div class="d-ngfor">
	<p *ngFor="let obj of preguntasObj2">
		{{ obj.pregunta }}:
		<br>
		<span class="si">Si {{ obj.si }}</span> /
		<span class="no">No {{ obj.no }}</span>
	</p>
</div>

<h3>ngModel</h3>
<div class="d-ngmodel">
	<p>Simple Binding ( Dirección  del Modelo -> Vista ).</p>
	<div>
		<label>Ingrese un texto: <input type="text" [ngModel]="texto"></label>
	</div>
	<div>
		Texto ingresado al Modelo:<br>
		<p>{{ texto }}</p>
	</div>
</div>
<div class="d-ngmodel">
	<p>Doble Binding ( Dirección Modelo <-> Vista )</p>
	<div>
		<label>Ingrese un texto: <input type="text" [(ngModel)]="texto2"></label>
	</div>
	<div>
		Texto ingresado al Modelo:<br>
		<p>{{ texto2 }}</p>
	</div>
</div>

<h3>ngModelChange</h3>
<div class="d-ngmodel">
	<p>Prueba con borrar todo el texto.</p>
	<div>
		<label>Ingrese un texto: <input type="text" [ngModel]="texto3" (ngModelChange)="modificaValor($event)"></label>
	</div>
	<div>
		Texto ingresado al Modelo:<br>
		<p>{{ texto3 }}</p>
	</div>
</div>
